body {
    width: 300px;
    padding: 20px;
    border: 5px solid rgb(187, 32, 3);
    margin: 25px;
    background-color: rgb(137, 163, 34);
}

h1 {
    color: rgb(205, 118, 203);
    font-size: 60px;
    font-family: 'MONTSEHRAT', sans-serif;
}

.noticias {
    color: rgb(126, 2, 2);
    font-size: 60px;
    font-family: 'MONTSEHRAT', sans-serif;
}

#titulo1 {
    color: rgb(39, 170, 18);
    font-size: 30px;
    font-family: 'MONTSEHRAT', sans-serif;
}